<!-- Modal HTML -->
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="InfoSite">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <p>Sie finden hier alle Text Übersetzungen in Französisch und Deutsch von der Alltron
                    Seite aufgelistet. Folgende Funktionen sind möglich:</p>

                <h4>Suche einer Übersetzung</h4>
                <p>Geben Sie im Suchfeld in der Menuleiste Ihr Suchbegriff ein und klicken Sie auf die Lupe.
                    Die Felder ID, Text Deutsch und Text Französisch werden durchsucht.</p>

                <h4>Einen Übersetzungseintrag ändern</h4>
                <p>Um Einen Eintrag anzupassen klicken Sie auf das blaue Schreibstift-Icon auf der selben Zeile wie
                    die zu ändernde Übersetzung. Einen Eintrag kann man nur im angemeldeten Zustand ändern.
                    Melden Sie sich also an bevor Sie einen Eintrag ändern. Nach der Anmeldung können sie die Texte
                    in Französisch und Deutsch anpassen und speichern. Der englische ID Tag kann nicht geändert werden.</p>

                <h4>Sortieren der Einträge nach Änderungsdatum</h4>
                <p>Die Übersetzungen können aufsteigend oder absteigend nach Änderungsdatum sortiert werden.
                    Klicken Sie hierzu auf den Tabellentitel "Geändert" um alle Einträge aufsteigend zu sortieren.
                    Klicken Sie wiederholt auf "Geändert" um die Daten absteigend anzuzeigen. Die Übersetzungen sind
                    standardmässig nach der ID aufsteigend sortiert.</p>
            </div>
            <div class="modal-footer">
                <a type="button" href="/" class="btn btn-default" id="close">Close</a>
            </div>
        </div>
    </div>
</div>

