<!-- Modal HTML -->
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="InfoSite">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <p>Sie finden hier die gesamten Text Übersetzungen in Französich und Deutsch von der Alltron
                    Seite aufgelistet. Alle möglichen Funktionen werden hier nachfolgend kurz beschrieben.</p>

                <h4>Suche eines Eintrages</h4>
                <p>Geben Sie im Suchfeld in der Menuleiste Ihr Suchbegriff ein und clicken Sie auf die Lupe</p>

                <h4>einen Übersetzungseintrag ändern</h4>
                <p>Um einen Eintrag ändern zu können muss man eingeloggt sein. Loggen Sie sich also ein bevor sie
                   auf das Eintrag ändern Icon clicken. Nach der Anmeldung können sie die Texte in Französisch und
                   Deutsch ändern. Der englische ID Tag kann nicht geändert werden.</p>

                <h4>Sortieren der Einträge nach Änderungsdatum</h4>
                <p>Die Übersetzungen können nach Änderungsdatum aufsteigend oder absteigend sortiert werden.
                   Clicken Sie hierzu auf den Tabellentitel "Geändert" um alle Einträge aufsteigend zu sortieren.
                   Clicken Sie noch einmal auf "Geändert" und die Daten werden absteigend angezeigt. Die Daten sind
                   standardmässig nach der ID aufsteigend sortiert.</p>
            </div>
            <div class="modal-footer">
                <a type="button" href="/" class="btn btn-default" id="close">Close</a>
            </div>
        </div>
    </div>
</div>

