{% extends 'templates/app.twig' %}

{% block content %}

<div id="header">
    <div>
    <fieldset id="error" title="error">
        <img src="images/404-error-page.png" alt="404 Error">
    </fieldset>
    </div>
</div>

{% endblock %}
