{% block error %}
    {# Error Handling #}
    {% if session.getValue('message') %}
        <div class="alert alert-success">
            <p class="bg-success">{{ session.getValue('message') }}</p>
        </div>
        {{ session.deleteValue('message') }}
    {% endif %}
    {% if session.getValue('warning') %}
        <div class="alert alert-danger">
            <p class="bg-danger">{{ session.getValue('warning') }}</p>
        </div>
        {{ session.deleteValue('warning') }}
    {% endif %}
{% endblock %}
